  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

  /* variables globales */
  :root{
    --colo-primary:#444cf7;
    --color-title: black;
    --align-title: left;
    --padding-container: 50px 0;
    --width-container: 90%;
    --max_width-container:1200px;
    --color-btn: #444cf7;
    --text_btn: white;
    --padding-btn: 20px 35px;
    --heigt-shape: 18em;
  }

  body{
    font-family: 'Inter', sans-serif;
    background-color: #e5e5f7;
    opacity: 1;
    background-image:  radial-gradient(#444cf7 0.6px, transparent 0.9px), radial-gradient(#444cf7 0.6px, #e5e5f7 0.8px);
    background-position: 0 0,16px 16px;
    background-size: 28px 28px;
  }

  .card_img{
    width: 200px;
    background:rgb(136, 79, 79);
  }

  .footer_icon{
    width: 30px;
  }

  .container{
    width: var(--width-container);
    max-width: var(--max_width-container);
    padding: var(--padding-container);
    margin: 0 auto;
    overflow:  hidden;
  }

  /* Section Header */
.hero{
    height: 60vh;
    min-width: 500px;
    position: relative;
    /* Sólo en hero quiero que tenga la posición 0 */
    --padding-container: 0;
}

.hero_container{
    display: grid;
    height: 100%;
    grid-template-columns: 3fr 2fr;
    place-items: center;
    gap: 20px;
}

.hero_title{
    font-size: 4rem;
}

.hero_img{
    width: 95%;
    /* margin: 25px 0; */
}

.hero_copy{
    font-size: 1.2rem;
    margin: 1.5em;
}

.hero_cta{
    display: inline-block;
    background: var(--color-btn);
    color: white;
    padding: var(--padding-btn);
    text-align: center;
    text-decoration: none;
    box-shadow: 20px 20px 20px -4px rgba(0, 0, 0, 0.70);
}


/* triangulo */
.hero::after{
    content: "";
    display: block;
    position: absolute;
    height:var(--heigt-shape);
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgb(255, 255, 255);
    z-index: -1;
    /* triangulo */
    clip-path:polygon(0 100%,100% 100%,100% 0);
}

main{
    background: white;
}

.title{
    font-size: 2.5rem;
    text-align: var(--align-title);
    color: var(--color-title);
}

/* section about container */
/* borde azul debajo de título */
.title_border::after{
    content: "";
    display: block;
    width: 100px;
    margin-top: 20px;
    height: 4px;
    background-color: var(--colo-primary);
}

.cta{
    display: inline-block;
    background: var(--color-btn);
    color: var(--text_btn);
    padding: var(--padding-btn);
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    box-shadow: 20px 20px 20px -4px rgba(0, 0, 0, 0.70);
}

/* Instructor */
.instructor{
    text-align: center;
    border-bottom: 2px solid #ccc;
    --pading-container: 5px 0 10px;
}
.intructor_container{
    width: 70%;
    margin: 0 auto;
}

.instructor_name{
    margin:  20px 0;
}

.instructor_tag{
    font-weight: 700;
    color: var(--colo-primary);
    margin-bottom: 20px;
}

.instructor_paragraph{
    text-align: center;
    line-height: 1.5;
    font-size: italic;
    color: #615a5a;
}

/* darle tamaño a la imagen y forma */
.instructor_img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
   box-shadow: 20px 20px 20px -4px rgba(0, 0, 0, 0.70);

}

/* section about */
.about{
    display: grid;
    /* crear 2 columnas */
    grid-template-columns: 5fr 4fr;
    place-items: center;
}

.about_course{
    width: 90%;
    /* border: 2px solid rgb(38, 0, 255); */
}

.about_paragraph{
    margin: 20px 0;
    line-height: 1.5;
    font-weight: 300;
}

.about_picture{
    text-align: center;
}

.about_img{
    width: 100%;
    height: 100%;
    box-shadow: 20px 20px 20px -4px rgba(0, 0, 0, 0.70);
}

/* card */
.card{
    background: #f2f2f2;
}

.card_copy{
    margin-top: 20px;
}

.card_container{
    width: 99%;
    margin: 0 auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    grid-template-areas:
    ".  card1  ." 
    "card2 card1 card3" 
    "card2 card4 card3" 
    ". card4 card3" 
    ". card4 .";
}

.card_item{
    padding: 20px;
    background:white;
    border-top: 5px solid #667eea;
    /* sombra */
    box-shadow: 0 0 3px rgb(0, 0, 0, .5) ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_img{
    background: var(--colo-primary);
    margin-top: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_title{
    margin: 20px 0;
    font-size: 1.5rem;
}

.card_paragraph{
    font-weight: 300;
    margin-bottom: 20px;
}

/* darle la posición de las cards con la pseudo clase last_of_type, al 1er elemento de ese tipo*/
.card_item:nth-last-of-type(1){
    grid-area: card1;
}
.card_item:nth-last-of-type(2){
    grid-area: card2;
}
.card_item:nth-last-of-type(3){
    grid-area: card3;
}
.card_item:nth-last-of-type(4){
    grid-area: card4;
}

/* Course */
.course{
    --color-title: #fff;
    --color_btn: white;
    --text_btn: #444cf7;
    color: var(--color-title);
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    /* align-items: center; */
}

.course_about{
    z-index: 100;
    align-self: center;
    width: 80%;
    /* centrar ese contenedor */
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 0 6px rgb(0, 0, 0, .5);
    background: var(--colo-primary);
    /* quiero que vaya de la línea 1 a la línea 4*/
    grid-column: 1/4;
    grid-row: 2/-2;
    /* border: 2px solid rgb(255, 0, 217); */
    opacity: 70%;
    box-shadow: 20px 20px 20px -4px rgba(0, 0, 0, 0.70);
}

.course_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   box-shadow: 20px 20px 20px -4px rgba(0, 0, 0, 0.70);
}

.course_picture{
    margin: 0;
    /* que vaya de la línea 3 a la línea 6 */
    grid-column: 3/-1;
    grid-row: 1/-1;
}

course_picture--right{
    grid-column: 1/4;
}

course_about--left{
    grid-column: 3/-1;
}

/* footer */
.footer{
    position: relative;
    --padding-container:160px 0 50px;
}

.footer::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    background: white;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.footer_contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    place-items: center;
    margin-bottom: 30px;
}

.footer_copy{
    /* margin: 50px 0; */
    font-weight: 300;
}

.footer_picture{
    margin: 0;
}

.footer_img{
    width: 100%;
}
.footer_social{
    display: flex;
    padding-top: 30px;
    /* controlar el desbordamiento */
    flex-wrap: wrap;

}

.footer_container{
    /* border: 10px; */
    padding: 15px;
}

.footer_link{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444df7a6;
}

.footer_icon{
    width: 30px;
}

.footer_copyright{
    padding-top: 30px;
    border-top: 3px solid #918484;
    text-align: center;
    /* border: 2px solid rgb(255, 0, 217); */
}

.footer_copyright::after{
    content: "endarl@gmail.com";
}